<!DOCTYPE html>
<html>
  <head>
    <title>Welcome Email</title>
  </head>
  <body>
    <h1>Welcome to our application, {{ email }}!</h1>
    <p>Your account has been successfully created.</p>
  </body>
</html>
